<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
     <link rel="stylesheet" type="text/css" href="{% block css_path %}/static/css/styles.css{% endblock %}" />
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
     
	 <script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
     <link rel="stylesheet" href="/static/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

     <script type="text/javascript">
	 	function Login(user, pass) {
		  //Check if user is valid
		
		  //Load the main page
		  $.post('textScroller.py', { u: user, p:pass }, function( data ) {
				  $( "#mainContent" ).empty().append( data );
			});
		}
		
			
		function DisplayMessages(){
			$.get('m/list/', function( data ) {
					$( "#messagePane" ).empty().append( data );
			});
		}
		
		function AddMessages(){
			$.get('m/create/', function( data ) {
					$( "#addMessage" ).empty().append( data );
			});
		}
		
	 </script>
	<title>{% block title %}squawker{% endblock %}</title>
</head>

<body>
{% block body %}
{% endblock %}
</body>

</html>
