{% extends "base.html" %}

{% block title %}index - squawker{% endblock %}

{% block body %} 
<div id="mainWrap">
	<div id="mainPanel">

        {% if username %}
       <div id="loginPanel"><h2>Welcome {{ username }}!</h2></div>
        <div id="menu">
        	<ul>
   				<li><a onClick='DisplayMessages();'><span>Refresh Messages</span></a></li>
        		<li><a href='/logout/'><span>Logout</span></a></li>
            </ul>
        </div>
        
        <div id="leftPanel">
         	<div class="message">
          		<h2></h2><br/><br/><br/><br/><br/><br/><br/><br/><br/>   
         	</div>
         </div>
         <div id="rightPanel">
         	<div id='addMessage'></div>
         	<h3>Most Recent Squawks</h3>
            
         	<div id="messagePane"></div> 
         </div>
        {% else %}
        
        {% if error %}
        <div id='errorMessage'><strong>{{ error }}</strong></div>

        {% endif %}
      
        <div id="loginPanel">
        	<h2>User Login</h2>
            <form action='.' method='post'>
            {% csrf_token %}

            <input type='text' name='username' value='User Name' onfocus="if(this.value=='User Name')this.value=''" onblur="if(this.value=='')this.value='User Name'">
           	<input type='password' name='password' value='Password' onfocus="if(this.value=='Password')this.value=''" onblur="if(this.value=='')this.value='Password'">
            <input type='submit' name='login button' value='Login'>
            </form>
        </div>
        <div id="menu">
	        <ul>
    	    	<li><a id='createUser' href='/create_user/'><span>Create a new account</span></a></li>
            </ul>
        </div>
        <div id="leftPanel">
         	
         </div>
         <div id="rightPanel">
         </div>
        {% endif %}
        
         
        
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
			DisplayMessages();
			AddMessages();
		
		});
		
</script>
{% endblock %}

